rg_name = "my-psql-flex-rg"

network_acls_ip_rules = ["123.45.67.89/32"]

psql_version = "16"

psql_name      = "my-psql-flex-server"
admin_username = "psql_admin"

enable_initialization = true

db_name = "my_db"

storage_mb = 32768

allowed_extensions = "UUID-OSSP,POSTGIS,POSTGIS_RASTER,POSTGIS_TOPOLOGY,FUZZYSTRMATCH,ADDRESS_STANDARDIZER,PG_TRGM"
